html,
body {
  margin: 0;
  width: auto;
  height: 100%;
}

.header {
  height: 100vh;
  width: 100%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

/* ----------------- <NavBar.tsx> ------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap");

:root {
  --navbar__max-width: 1330px;
  --navbar__header-font: "Montserrat", sans-serif;
  --navbar__link-font: "Roboto", sans-serif;
}

.navbar__holder {
  color: white;
  position: fixed;
  width: 100%;
  transition: 0.2s cubic-bezier(0.25, 0.1, 0.6, 0.54);
  z-index: 1;
}

.navbar__nav-scroll {
  background-color: white;
  border-color: black;
  color: black;
}

.navbar__nav-top {
  background-color: transparent;
  border-color: white;
}

.navbar__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--navbar__max-width);
  padding: 10px 17px;
}

.navbar__left-menu,
.navbar__right-menu {
  display: none;
  width: 33.33%;
}

.navbar__list {
  display: flex;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.navbar__left_list {
  justify-content: flex-start;
}

.navbar__right-list {
  justify-content: flex-end;
}

.navbar__list-item {
  display: inline-block;
}

.navbar__list-link {
  background-color: transparent;
  border: 1px solid transparent;
  color: inherit;
  font-family: var(--navbar__link-font);
  font-size: 0.9rem;
  margin: 0 15px;
  outline: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  transition: border-color 0.4s ease;
  white-space: nowrap;
}

.navbar__list-link:hover {
  border-bottom: 1px solid;
  filter: brightness(85%);
  transition: border-bottom 0.2s ease;
}

.navbar__logo-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.navbar__logo:hover {
  filter: brightness(85%);
}

.navbar__logo {
  color: inherit;
  font-family: var(--navbar__header-font);
  margin: 0;
  transition: ease-in-out 0.2;
}

.navbar__mobile {
  display: block;
}

.navbar__hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 30px;
}

@media (min-width: 1025px) {
  .navbar__wrapper {
    padding: 15px 25px;
  }
  .navbar__left-menu,
  .navbar__right-menu {
    display: block;
  }
  .navbar__mobile {
    display: none;
  }
}

/* ----------------- </NavBar.tsx> ------------------- */
/* ----------------- <HeroSplash.tsx> ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --hero__splash-text-font: "Roboto", sans-serif;
  --hero__splash-image: url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}

.hero__splash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--hero__splash-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 10px;
  position: relative;
  text-shadow: 3px 3px 5px black;
  width: auto;
}

.hero__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  text-align: center;
}

.hero__splash-text {
  color: white;
  font-family: var(--hero__splash-text-font);
  font-size: 3rem;
  margin: 0;
  width: 100%;
}

.hero__button-row {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  margin: 30px;
}
/* ----------------- </HeroSplash.tsx> ---------------- */
/* ----------------- <Button.tsx> ---------------- */
:root {
  --button__font: "Roboto", sans-serif;
  --button__light-bg: #eeebdd;
  --button__dark-bg: #1b1717;
}

.button__ {
  border-radius: 3px;
  font-family: var(--button__font);
  font-size: 1rem;
  filter: drop-shadow(1px 1px 3px black);
  padding: 10px 20px;
  transition: ease-in-out 0.2;
}

.button__:hover {
  filter: brightness(85%) drop-shadow(2px 2px 5px black);
}

.button__light-solid {
  background-color: var(--button__light-bg);
  border-style: none;
  color: black;
}

.button__light-outlined {
  border: 1px solid var(--button__light-bg);
  background-color: white;
  color: black;
}

.button__dark-solid {
  background-color: var(--button__dark-bg);
  border-style: none;
  color: white;
}

.button__dark-outlined {
  border: 1px solid var(--button__dark-bg);
  background-color: white;
  color: black;
}
/* ----------------- </Button.tsx> ---------------- */
